<a href="https://colab.research.google.com/github/karthikeya22-tech/Data-Analytics-Lab/blob/main/Lab12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Predictive Analytics for Weather Forecasting using Python**

To build a predictive model to forecast rainfall using weather parameters like temperature, humidity, pressure, and wind speed.

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('weather_forecasting_data.csv')

In [ ]:
df.head()

,Date,Temperature_C,Humidity_%,Pressure_hPa,WindSpeed_kmh,Rainfall_mm
0,2024-01-01,28.38,68.42,1020.92,5.47,10.78
1,2024-01-02,24.24,64.92,1020.12,6.37,0.00
2,2024-01-03,25.41,78.86,1014.88,13.71,6.04
3,2024-01-04,26.33,71.25,1012.06,8.96,17.09
4,2024-01-05,24.11,80.22,1024.53,5.66,12.61

In [ ]:
df.tail()

,Date,Temperature_C,Humidity_%,Pressure_hPa,WindSpeed_kmh,Rainfall_mm
725,2025-12-26,21.65,72.22,1014.74,6.30,5.00
726,2025-12-27,23.49,81.66,1009.15,5.19,0.00
727,2025-12-28,27.14,79.47,1006.13,8.62,0.00
728,2025-12-29,24.48,80.46,1008.13,5.19,11.14
729,2025-12-30,22.35,85.16,1010.59,8.20,21.53

In [ ]:
df.shape

(730, 6)

In [ ]:
df.describe()

       Temperature_C  Humidity_%  Pressure_hPa  WindSpeed_kmh  Rainfall_mm
count     730.000000  730.000000    730.000000     730.000000   730.000000
mean       24.891000   60.062890   1012.658452       8.117000     4.396301
std         7.282932   11.532472      5.058559       2.977943     5.330356
min        10.420000   36.330000    997.370000       0.010000     0.000000
25%        18.270000   50.792500   1009.325000       6.092500     0.000000
50%        24.960000   59.815000   1012.675000       8.190000     2.300000
75%        31.895000   69.580000   1015.877500      10.155000     7.257500
max        39.490000   88.080000   1031.710000      18.250000    24.130000

In [ ]:
# Prepare features (X) and target (y)
X = df[["Temperature_C", "Humidity_%", "Pressure_hPa", "WindSpeed_kmh"]].values
y = df["Rainfall_mm"].values.reshape(-1, 1)

In [ ]:
# Add bias (intercept) term
X_b = np.c_[np.ones((X.shape[0], 1)), X]

In [ ]:
# Train model using Normal Equation
theta = np.linalg.inv(X_b.T @ X_b) @ X_b.T @ y

print("\nModel Coefficients:")
print("Intercept:", theta[0][0])
print("Temperature Coef:", theta[1][0])
print("Humidity Coef:", theta[2][0])
print("Pressure Coef:", theta[3][0])
print("Wind Speed Coef:", theta[4][0])

Model Coefficients:
Intercept: 55.88664248318429
Temperature Coef: 0.012689113992447376
Humidity Coef: 0.1564506157798911
Pressure Coef: -0.060325256431800756
Wind Speed Coef: -0.014066926445274248

In [ ]:
# Predictions on training data
y_pred = X_b @ theta

In [ ]:
# Evaluate model using R^2
ss_res = np.sum((y - y_pred) ** 2)
ss_tot = np.sum((y - np.mean(y)) ** 2)
r2 = 1 - (ss_res / ss_tot)

print("\nR^2 Score:", r2)

R^2 Score: 0.11823150393774695

In [ ]:
# Predict rainfall for next 5 days (example inputs)
future_weather = np.array([
    [28.0, 70.0, 1008.0, 10.0],
    [30.0, 65.0, 1010.0, 12.0],
    [27.0, 80.0, 1005.0, 8.0],
    [26.0, 75.0, 1009.0, 9.0],
    [29.0, 60.0, 1012.0, 11.0],
])

In [ ]:
# Add bias term
future_weather_b = np.c_[np.ones((future_weather.shape[0], 1)), future_weather]

future_predictions = future_weather_b @ theta

print("\nPredicted Rainfall for Next 5 Days (mm):")
for i, val in enumerate(future_predictions, 1):
    print(f"Day {i}: {val[0]:.2f} mm")

Predicted Rainfall for Next 5 Days (mm):
Day 1: 6.24 mm
Day 2: 5.34 mm
Day 3: 8.01 mm
Day 4: 6.96 mm
Day 5: 4.44 mm